
/* Body */

body{
background-color: rgba(248, 183, 215, 0.568);

}
/* PAGE RECETTE  */
.titre{
    display: flex;
    padding: 30px 10%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
}

#toque{
    width: 20px;
    height:20px;
}


#carnet{
    width: 20px;
    height: 20px;
   
    flex-direction: column;
    display: flex;

}
.mainRecette{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0% 25%;
    box-shadow: auto rgb(112, 104, 104); 
}
.mainRecette .imgBox img{
    border:5px solid white;
    border-radius: 2rem;
    width: 700px;
    height: 450px;
}

.prepa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.prepa div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    
}

.margin_to_put {
    margin-right: 14px;
}
.prepa2{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: auto;
}
.prepa2{
border: 10px solid white;
border-radius: 10%;
min-width: auto;
height:auto;
box-shadow: 10px 5px 5px grey; 
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 15px;
background-color: rgb(181, 189, 167);
}

.prepa3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.favoris{
    display: flex;
    position: relative;
    border-radius: 10%;
    
}
.icon a { 
   
    color:red;
}

/* PAGE DE CONNEXION */
.register{
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgb(159, 202, 182);
    border-radius: 10px;
    width: 300px;
    height: auto;
   

}

.form{
    border-radius: 30px;
  
}
button{
    background-color: rgba(225, 245, 245, 0.856);
    border-radius:10px;
    border-style: none;

}

/* ADMINPAGE */
.voici {
    font-family: cursive;
   
    
}



li{
    list-style: none;
    border: 5px solid white;
    display: inline;
    margin: 25px;
    background-color: white;
    border-radius: 25px;
     align-items:center ;

    }







.cards {
    display:flex;
    flex-direction: column;
    align-items: center;

}

.cards img{
    border:10px solid rgba(241, 187, 214, 0.856);
    border-radius: 10%;
    width: 700px;
    height: 550px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;

}

.favoris{
    border: 5px solid rgb(223, 223, 223);
    border-radius: 10%;
    justify-content: center;
    display: flex;
    margin-top: 2rem;
    background-color: rgb(255, 255, 255);
    font-family: cursive;
}




.prepa2 p{

font-family: cursive;
}
/* ////////////////////////////////////////////////// */
/* HEADER */
.base{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.identification p{
    flex-direction: row;
    border: 10px solid rgb(255, 254, 254);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-family: cursive;
    display:inline;
    text-decoration: none;
 
}
a{
    text-decoration: none;
    color: black;
}

.insc{
    margin: 50px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////// */
/*PAGE INDEX */
.prez {
    font-family: cursive;
border: 1px solid black;
margin-top: 90px;
background-color: white;
border-radius: 2rem;
padding-left: 20px;
}

.voicirec{
    align-content: center;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    margin-left:15px;
    
}
.home{
    
}