

/* PAGE RECETTE  */
.titre{
    display: flex;

    padding: 30px 10%;
    width: 100%;
    align-items: center;
    flex-direction: column;

}

#toque{
    width: 20px;
    height:20px;
}


#carnet{
    width: 20px;
    height: 20px;
   
    flex-direction: column;
    display: flex;

}
.mainRecette{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0% 25%;
    box-shadow: auto grey; 
}
.mainRecette .imgBox img{
    border:1px solid black;
    border-radius: 10%;
    width: 700px;
    height: 450px;
}

.prepa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.prepa div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    
}

.margin_to_put {
    margin-right: 14px;
}
.prepa2{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: auto;
}
.prepa2{
border: 1px solid grey;
border-radius: 10%;
min-width: auto;
height:auto;
box-shadow: 10px 5px 5px grey; 
height: auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 15px;
}

.prepa3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.favoris{
    display: flex;
    position: relative;
    border-radius: 10%;
    
}
.icon i { 
    position: absolute;
}

/* PAGE DE CONNEXION */
.register{
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: rgb(159, 202, 182);
    border-radius: 10px;
   

}

.loger{
    border-radius: 10px;
    
}
button{
    background-color: rgba(225, 245, 245, 0.856);
    border-radius:10px;
    border-style: none;

}

/* ADMINPAGE */
.cards {
    display:flex;
    flex-direction: column;
    align-items: center;

}

.cards img{
    border:1px solid black;
    border-radius: 10%;
    width: 700px;
    height: 550px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;

}
