

/* PAGE RECETTE  */
.titre{
    display: flex;
    
    padding: 30px 10%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

#toque{
    width: 20px;
    height:20px;
}


#carnet{
    width: 20px;
    height: 20px;
}
.mainRecette{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0% 25%;

}
.mainRecette .imgBox img{
    border:1px solid black;
    border-radius: 10%;
    width: 700px;
    height: 350;
}

.prepa{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.prepa2{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.prepa2 div{
border: 1px solid black;
border-radius: 10%;
min-width: 40%;
height:auto;
}

.favoris{
    display: flex;
}
.icon i { 
    position: absolute;
}
